          <div class="box clearfix hidden-print">
            <h2>Contact</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
              <div class="title only pull-right">301 693 5451</div>
            </div>
            <div class="contact-item">
		    <div class="icon pull-left text-center"><a href="mailto:adam@adamlwalker.com"><span class="fa fa-envelope fa-fw"></span></a></div>
              <div class="title only pull-right">adam@adamlwalker.com</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><a href="https://twitter.com/acontius" target="_blank"><span class="fa fa-twitter fa-fw"></span></a></div>
              <div class="title pull-right">Twitter</div>
              <div class="description pull-right">https://twitter.com/acontius</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><a href="https://www.linkedin.com/in/adamlwalker77" target="_blank"><span class="fa fa-linkedin fa-fw"></span></a></div>
              <div class="title pull-right">LinkedIn</div>
              <div class="description pull-right">https://www.linkedin.com/in/adamlwalker77</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><a href="https://github.com/adamlwalker"><span class="fa fa-github fa-fw"></span></a></div>
              <div class="title pull-right">Github</div>
              <div class="description pull-right">https://github.com/adamlwalker</div>
            </div>
          </div>