          <div class="box hidden-print">
		  <h2>Hobbies</h2>
		  <% getlist(Hobby).each {|hob| %> 
			  <div class="hobby"><%= hob.name %></div>
		  <% } %>
          </div>
        </div>
      </div>