         <!--  <div class="box hidden-print">
            <h2>Personal Milestones</h2>
	    <ul id="education" class="clearfix">
       <% getlist(Milestone).each{|ms| %>
              <li>
	      <div class="year pull-left"><%= ms.year %></div>
                <div class="description pull-right">
			<h3><%= ms.name %></h3>                
			<p><%=raw ms.description %> </p>
                </div>
		</li>
	<% } %>
              <li>
              <li>
            </ul>
          </div> -->